.root {
  margin-block: 40px;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;

  &.onlyChild {
    flex-direction: row;
    justify-content: center;
  }
}

.content {
  position: relative;
  background: var(--color-widget-background);
  border-radius: 10px;
  box-shadow: 3px 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.currenciesTable {
  width: 75%;

  &.onlyChild {
    width: 40%;
  }
}

.currenciesDateInput {
  margin-left: 30px;
  width: 25%;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .currenciesTable {
    width: 100%;
  }

  .currenciesDateInput {
    width: 100%;
    margin: 0 0 20px;
  }
}

@media (max-width: 768px) {
  .currenciesTable {
    &.onlyChild {
      width: 80%;
    }
  }
}
