:root {
  --color-primary: #1e3e7a;
  --color-background: #FFFFFF;
  --color-widget-background: #F3F3F3;
  --color-splitter: #D9D9D9;
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-h5: 18px;
  --font-size-h4: 20px;
  --font-size-h3: 24px;
  --font-size-h2: 28px;
  --font-size-h1: 32px;
  --border-radius: 10px;
}