.InputBlock {
  &_content {
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
  }

  &_dateInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    &__label {
      margin-bottom: 10px;

      p {
        font-size: var(--font-size-l);
      }
    }

    &__picker {
      width: 130px;
    }
  }

  &_submitButton {
    width: 100%;
  }

  @media (max-width: 1024px) {
    &_content {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &_dateInput {
      flex-direction: row;
      align-items: center;
      margin-bottom: 0;

      &__label {
        margin: 0 16px 0 0;
      }
    }
  }

  @media (max-width: 768px) {
    &_dateInput {
      &__label {
        p {
          font-size: var(--font-size-m);
        }
      }
    }
  }

  @media (max-width: 640px) {
    &_content {
      align-items: flex-end;
    }

    &_dateInput {
      flex-direction: column;
      justify-content: center;

      &__label {
        margin: 0 0 10px;
      }
    }
  }
}